name: Test

env:
  DEFAULT_POETRY_VERSION: "2.1.0"
  POSTGRES_USER: "flame"
  POSTGRES_PASSWORD: "s3cr3t_p4ssw0rd"
  POSTGRES_DB: "node_events"

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.13"
          - "3.12"
          - "3.11"
          - "3.10"
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - name: Set up Poetry
        uses: ./.github/actions/setup-poetry
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: poetry install --with dev
      - name: Test
        run: poetry run pytest -vra

    services:
      postgres:
        image: postgres:17.2
        env:
          POSTGRES_USER: ${{env.POSTGRES_USER}}
          POSTGRES_PASSWORD: ${{env.POSTGRES_PASSWORD}}
        ports:
          - 5432:5432
